/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.img {
  height: 400px;
  width: 550px;
  border-radius: 10px;
  margin: 10px;
}
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #1e293b;
}
.desc {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.cont {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
